# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Logs
logs/
*.log

# Build
.next/
dist/
build/

# Coverage
coverage/

# Prisma
prisma/dev.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/